:root {
  --color-primary: #599f3d;
  --color-secondary: #fd7e14;
  --color-dashboard-bg1: #212529;
  --color-dashboard-bg2: #e9ecef;
  --color-dashboard-bg2: #f3f3f3;
  --color-dashboard-bg3: #599f3d;
  --color-form-bg: #e9ecef;
  --color-meal: #599f3d;
  --color-meal-light: #73bc56;
  --color-workout: #fd7e14;
  --color-workout-light: #f99c4f;
  --btn-border: 1px solid #fff;
  --btn-border-radius: 5px;
  --color-progress-bar: #e9ecef;
  --color-bar-progress: #599f3d;
  --color-dialog-bg: #e9ecef;
  --input-border: 1px solid #e4e5e6;
  --input-border-radius: 4px;
  --input-outline: 2px solid #b9e3a5;
  --input-outline-error: 2px solid red;
  --list-item-border: 1px solid #e4e5e6;
  --list-item-border-radius: 3px;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*************************** Header Styles *****************************/

.header {
  background-color: var(--color-primary);
  height: 70px;
  padding-inline: 1em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.set-daily-limit-btn,
.reset-day-btn {
  background-color: var(--color-primary);
  padding: 0.7em;
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  color: #fff;
}

.set-daily-limit-btn {
  margin-left: auto;
}

:is(.set-daily-limit-btn, .reset-day-btn):hover {
  color: #212529;
  background-color: #fff;
}

.icon i {
  font-size: 2em;
}

/*************************** Main/Dashboard Styles *****************************/

#root {
  display: grid;
}

.main {
  margin: 2.5em 2em;
  display: grid;
  gap: 2.5em;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px;
  gap: 0.8em;
}

.dashboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  border-radius: 5px;
}

.dashboard-item p:first-child {
  font-size: 1.5em;
  font-weight: 800;
}

.calorie-limit {
  background-color: var(--color-dashboard-bg1);
  grid-column: 1 / 4;
}

.gain-loss {
  background-color: var(--color-dashboard-bg3);
  grid-column: 4 / 7;
}

.calorie-limit,
.gain-loss {
  color: #fff;
}

.calories-consumed,
.calories-burned,
.calories-remaining {
  background-color: var(--color-dashboard-bg2);
}

.calories-consumed {
  grid-column: 1 / 3;
}
.calories-burned {
  grid-column: 3 / 5;
}
.calories-remaining {
  grid-column: 5 / 7;
}
.calories-remaining.danger {
  background-color: red;
  color: #fff;
}

/************************** Progress Bar Styles ************************/

.progress-bar-container {
  height: 0.6em;
  background-color: var(--color-progress-bar);
  border-radius: 5px;
}

.bar-progress {
  width: 0%;
  height: inherit;
  background-color: red;
  border-radius: 5px;
}

.bar-progress.success {
  background-color: var(--color-bar-progress);
}

/*************************** Meal Workout Styles ***************************/

.meal-workout-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

/* Meal/Workout Styles */

section.meal,
section.workout {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.filter-container input {
  width: 100%;
  height: 30px;
  text-indent: 0.3em;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
}

:is(.meal-form input, .workout-form input, .filter-container input):focus {
  outline: var(--input-outline);
  border: none;
}

:is(.meal-form, .workout-form) input.error {
  outline: var(--input-outline-error);
  border: none;
}

.meal-header-container,
.workout-header-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  height: 60px;
}

:is(.meal-header-container, .workout-header-container) button {
  margin-left: auto;
  background-color: var(--color-meal);
  border: none;
  border-radius: var(--btn-border-radius);
  color: #fff;
  padding: 0.7em;
}

.meal-header-container button:hover {
  background-color: var(--color-meal-light);
}

.workout-header-container button {
  background-color: var(--color-workout);
}

.workout-header-container button:hover {
  background-color: var(--color-workout-light);
}

:is(.meal-header-container, .workout-header-container)::before {
  content: '';
  display: inline-block;
  align-self: stretch;
  width: 5px;
  background-color: var(--color-meal);
}

.workout-header-container::before {
  background-color: var(--color-workout);
}

.meal-form,
.workout-form {
  display: grid;
  gap: 0.5em;
  padding: 1em;
  background-color: var(--color-form-bg);
  border-radius: 3px;
  height: fit-content;
}

:is(.meal-form, .workout-form).hide {
  display: none;
}

:is(.meal-form, .workout-form) input {
  height: 30px;
  text-indent: 0.3em;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
}

:is(.meal-form, .workout-form) button {
  justify-self: self-start;
  background-color: var(--color-meal);
  border: none;
  border-radius: var(--btn-border-radius);
  color: #fff;
  padding: 0.6em;
}

.workout-form button {
  background-color: var(--color-workout);
}

.meal-form button:hover {
  background-color: var(--color-meal-light);
}

.workout-form button:hover {
  background-color: var(--color-workout-light);
}

.meal-list,
.workout-list {
  list-style-type: none;
  display: grid;
  grid-auto-rows: 60px;
  gap: 0.5em;
}

.meal-item,
.workout-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: var(--list-item-border);
  border-radius: var(--list-item-border-radius);
  align-items: center;
  padding-inline: 1em;
}

:is(.meal-item, .workout-item) .calorie {
  justify-self: center;
  background-color: var(--color-meal);
  color: #fff;
  padding: 0.5em 0.8em;
  border-radius: 5px;
}

.workout-item .calorie {
  background-color: var(--color-workout);
}

.meal-item .meal-item-remove-btn,
.workout-item .workout-item-remove-btn {
  justify-self: end;
  background-color: red;
  border: none;
  padding: 0.4em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/***************** Set Daily Limit Dialog Styles ******************/
.set-daily-limit-dialog {
  position: absolute;
  top: 100px;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  transition: top 2s;
  display: none;
}

.set-daily-limit-dialog form {
  background-color: var(--color-dialog-bg);
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6em;
  padding: 2em 1em;
  border-radius: 3px;
}

.set-daily-limit-dialog form input {
  height: 35px;
  text-indent: 0.3em;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
}

.set-daily-limit-dialog form input:focus {
  outline: var(--input-outline);
  border: none;
}

.set-daily-limit-dialog form button {
  align-self: flex-start;
  padding: 0.5em;
  background-color: #599f3d;
  color: #fff;
  border-radius: 3px;
  border: none;
}

.set-daily-limit-dialog form button:hover {
  background-color: #73bc56;
}

.show {
  display: flex;
}

/*************************** Media Queries ***************************/

@media (max-width: 600px) {
  .calories-consumed {
    grid-column: 1 / 4;
  }
  .calories-burned {
    grid-column: 4 / 7;
  }
  .calories-remaining {
    grid-column: 1 / 7;
  }
  .meal-workout-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .calorie-limit,
  .gain-loss,
  .calorie-limit,
  .calories-burned,
  .calories-consumed {
    grid-column: 1 / 7;
  }
}
